@tailwind base;

@layer base {
  html,
  body {
    font-family: "Inter";
    color: #666666;
    height: 100%;
  }

  h1 {
    @apply text-blue-dark text-3xl md:text-3xl font-bold;
  }

  h2 {
    @apply text-blue-dark text-xl md:text-2xl;
  }

  h3 {
    @apply text-blue-dark text-lg md:text-xl;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

@tailwind components;

@tailwind utilities;

@layer utilities {
  .markdown ul {
    @apply px-4 py-1;
    list-style-type: disc;
  }

  .markdown ol {
    padding: 1rem;
    list-style-type: decimal;
  }

  .markdown a {
    @apply text-green-dark font-bold;
  }

  .ais-Hits-list {
    @apply grid grid-cols-4 gap-8;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}
/* FROM HERE WE GIVE css for reference  */

header {
  background-color: #2a3c80;
}

.gmsou {
  box-shadow: 0 0 0 1px #243280;
}
.select {
  @apply rounded-lg  bg-white text-base cursor-pointer  items-center;
  /* min-width: 15ch;
  max-width: 20ch; */
  display: grid;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  grid-template-areas: "select";
}
select:active,
select:focus,
input:active,
input:focus {
  outline: none;
}
select:focus {
  padding-bottom: 0px;
}
.line {
  width: 20px;
  height: 2px;
  background: white;
  margin: 5px;
}
.logo {
  filter: contrast(900%);
}
a:visited {
  color: white;
}
.custom-text {
  text-align: center;
}
.borderbtn {
  border: 2px solid black;
}
.forz {
  z-index: -98;
  background: linear-gradient(0.25turn, #f2f9ff, #dbe0e4, #dbe0e4);
  filter: hue-rotate(260deg);
  filter: saturate(3.5);
}
