@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Museo-Sans";
  color: #666666;
  height: 100%;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  @apply text-green-dark;
  font-size: 26px;

  @screen md {
    font-size: 32px;
  }
}
