/* .select {
  @apply rounded-lg  bg-white text-base cursor-pointer  items-center;
 
  display: grid;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  grid-template-areas: "select";
} */
