.articles h3 {
  display: none;
}
.flexbox h3,
.fazit h3 {
  display: none;
}
.articles p {
  padding-bottom: 16px;
}
.flexbox p, .fazit p {
  padding-bottom: 6px;
  
}

.fazit {
width: 100%;
margin-left: 2.5rem /* 40px */;
}
.flexbox p {
 
  height: auto!important;
 }



.containerRight ,.containerLeft{
width: 48%;
  display: flex;
flex-wrap: wrap;
flex-direction: column;
}
.flexbox {
  /* height: 500px;
  width: 500px; */
  /* display: grid;
  grid-template-columns: 2; */
padding: 0 !important;
  margin: 0 !important;
  height: auto !important;

}